<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
<!--    <link rel="stylesheet" href="styles/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="styles/styles.css">-->
  </head>
<body>
   <div class="container" ng-controller="NarrowItDownController as menu">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="menu.name">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="menu.matchItems(menu.name)">Narrow It Down For Me!</button>
    </div>

    <!-- found-items should be implemented as a component -->
    <found-items found-items="menu.found"
                 title="Dishes you might like"
                 on-remove="menu.removeItem(index)"
                 on-empty="menu.message"></found-items>
  </div>
<footer class="container text-muted text-center">©2019 YQ</footer>
</body>
</html>
